<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    
    <listeners>
        <listener class-name="utils.TestListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
            <methods>
                <include name="testSuccessfulLogin" />
                <include name="testInvalidUsername" />
                <include name="testIncorrectPassword" />
                <include name="testEmptyFields" />
            </methods>
        </classes>
    </test>
</suite>
